* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  width: 1600px;
}

header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  display: flex;
  /* border: 1px solid #171616; */
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
.logo {
  font-size: 45px;
  font-weight: 900;
}
.color-orange {
  color: #fd6e0a;
}

nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  width: 150px;
  height: 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  cursor: pointer;
}
