* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  width: 1600px;
}

header {
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 70px;
}
nav {
  display: flex;
  /* border: 1px solid #171616; */
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
.logo {
  font-size: 45px;
  font-weight: 900;
}
.color-orange {
  color: #fd6e0a;
}

nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  cursor: pointer;
}

.banner {
  margin-top: 46px;
  margin-left: 230px;
  margin-right: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 800px;
  height: 356px;
}

.banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600; /* semibold */
  color: #474747;
  margin-bottom: 5px;
}
.banner .banner-content h1 {
  font-size: 75px;
  font-weight: bold; /* bold */
  color: #181818;
  margin-bottom: 20px;
}

.banner .banner-content p {
  font-size: 18;
  color: #757575;
  margin-bottom: 30px;
  line-height: 1.5;
}

.banner .banner-image img {
  width: 585px;
  vertical-align: middle;
}

.about {
  padding-top: 130px;
}
.about-container {
  width: 71%;
  max-width: 1140px;
  margin: auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.about-container-experience {
  max-width: 827px;
  text-align: center;
}
.about-container-experience h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.about-container-experience p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
}
.about .about-container .about-container-info {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.about-container-info .info-card p {
  font-size: 15px;
  color: #757575;
  line-height: 30px;
}

.about-container-info .info-card h4 {
  font-size: 15px;
}
